.admin-page {
  margin: 0 auto;
  max-width: 60vh;
  padding: 1rem;

  h1 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .admin-form {
    display: grid;
    gap: 1rem;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input,
  select {
    width: 99%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .preview p {
    max-width: max-content;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-align: left;
    background: #e1611b;
    color: #e1fabb;
  }

  .preview img {
    border-block: 2px solid #e1611b;
    padding: 0.5rem 0;
  }

  button {
    width: 99%;
    padding: 0.7rem;
    background: #2c7be5;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #1a5fc1;
    }
  }
}
